
/**************************
        NAV
***************************/
header{
    background-color: rgb(10,10,10);
}





/************************** 
            BODY
***************************/
body{
    background: black;
    color: white;
}